.navbar {
    padding: 15px 20px;
    background: linear-gradient(90deg, rgb(68, 69, 70), rgb(50, 50, 50));
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Center the navigation items */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px; /* Increased gap for better spacing */
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-left: 20px;
    display: inline;
}

.navbar a {
    font-family: 'Arial', sans-serif;
    color: #930a0a;
    text-decoration: none;
    font-size: 1.2rem; /* Slightly larger font size */
    font-weight: 500; /* Added font weight for better readability */
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar a:hover {
    color: #b63030;
    transform: scale(1.1);
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: row; /* Stack items vertically on smaller screens */
        padding: 10px;
    }

    .navbar ul {
        flex-direction: row;
        gap: 15px; /* Adjust gap for vertical layout */
    }
}
.button {
    margin-left: 20px;
    background-color: #ffffff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.imgnav{
    /*display: flex;*/
    width: 80px;
    height: 80px;
    /*border-radius: 50%;*/
    /*margin-right: 520px;*/
    cursor: pointer;
    /*align-content: flex-start;*/
    /*align-self: self-start;*/
}
.nav-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-left: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
    font-family: 'Arial', sans-serif; /* Changed font family for better readability */
}
.nav-title:hover {
    color: #d93434;
    transform: scale(1.1);
    /*text-decoration: underline;*/
}