.form-container{
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    background-color: #2ecc71;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
button{
    background-color: #436150;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover{
    background-color: #29ff39;
    transform: scale(1.05);
    color: black;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.error{
    color: red;
    font-size: 0.9rem;
    margin-top: -10px;
    font-weight: bolder;
}
